@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --accent-1: #1bd237;
  --accent-2: #2e9b37;

  --color-1: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}